link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600', rel='stylesheet', type='text/css')
  link(href='style.css', rel='stylesheet')
    .testbox
      h1 Registration
      |   
      form(action='/')
        input#name(type='text', name='name', placeholder='Email', required='')
        |   
        input#name(type='password', name='name', placeholder='Password', required='')
        |    
        a.button(href='#') Login
        |    
        p.register
          | Not a member? 
          a(href='#') register
          | .
